html {
    box-sizing: border-box;
}

*,
 *::before,
*::after {
box-sizing: inherit;
} 
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}

@font-face {
    font-family: 'Jost';
    src: local('Jost-Regular'),
     url('../fonts/jost-regular.woff2') format("woff2"),
     url("../fonts/jost-regular.woff") format(woff);
     font-weight: 400;
     font-style: normal;
     font-display: swap;

}


@font-face {
    font-family: 'Jost';
    src: local('adobemyungjostd-medium'),
     url('../fonts/adobemyungjostd-medium.woff2') format("woff2"),
     url("../fonts/adobemyungjostd-medium.woff") format(woff);
     font-weight: 300;
     font-style: normal;
     font-display: swap;

}
body {
    min-width: 1440px;
    font-family: "jost" sans-serif;
    background-color: #eee;
}
.container {
    width: 1104px;
    margin: 0 auto;
    padding: 0;
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex {
    display: flex;
}
p {
    margin: 0;
}
.tittle {
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    font-family: Jost;
    color: #222;
    
}
.btn {
    padding: 11px 36px;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    font-family: Jost;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
}


/* header */

.header-logo {
    margin: 22px 497px 23px 0px;
}
.header-form-search {
    margin: 40px 0 41px 250px;
    border: none;
}
.input-search {
    padding: 11px 19px 11px 24px;
}
    

/* паддинги для импута */


/* navigation */
.container-nav {
    justify-content: flex-end;
    margin-bottom: 80px;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}
.nav-link {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    font-family: Jost;
    text-transform: uppercase;
    color: #222;
}
.nav-link-header {
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #F2B058;
    border-bottom: 3px solid #F2B058;
}
.nav-contacts-link {
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222;
}
.nav-link-tel {
    margin-left: 77px;
}
.nav-link-location {
    margin-left: 24px;
}

/* about-me */
.container-about-me{
    margin-bottom: 160px;
    background-image: url("../img/photo_2023-09-09_15-14-51\ 1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.heading {
    margin-bottom: 12px;
    font-family: Jost;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #222;
}
.heading-desc {
    margin-bottom: 40px;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #777;
}
.abouy-me-list {
    width: 701px;
}
.about-me-desc {
    margin-bottom: 20px;
    padding-left: 46px;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222;
    background-image: url("../img/image\ 1.svg");
    background-repeat: no-repeat;
    background-size: 30px;
}

/* my-work */
.title-my-work {
    text-align: center;
}
.my-work-list {
    justify-content: space-between;
}
.my-work-img {
    width: 140px;
    padding-top: 156px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 140px;
    
    
   
}
.my-work-img-1 {
    background-image: url("../img/div.category-image.png");
    
}
.my-work-img-4 {
    background-image: url("../img/div.category-image\(3\).png");
}

.my-work-img-2  {
    background-image: url("../img/div.category-image\(1\).png");
}
.my-work-img-3 {
    background-image: url("../img/div.category-image\(2\).png");
}
.my-work-img-5 {
    background-image: url("../img/div.category-image\(4\).png");
}
.my-work-img-6 { 
    background-image: url("../img/div.category-image\(5\).png");
}
.my-work-desc {
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #222;
}

/* rings */

.tittle-rings {
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #222;
}
.rings-list {
    justify-content: space-between;
}
.rings-item {
    width: 228px;
    padding-top: 266px;
    background-image: url("../img/Без\ имени-1\ 2.png");
    background-repeat: no-repeat;
    background-position: top;
}
.rings-item-tittle {
    margin-bottom: 17px;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #222;
}
.rings-desc {
    margin-bottom: 16px;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222;
}
.btn-rings-desc {
    width: 228px;
    height: 45px;
    margin-bottom: 64px;
    padding: 11px 36px;
    color: #FFF;
    background-color: #222;
    border-radius: 4px;
}
.btn-rings{
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    color: #222;
    background-color: transparent;
    border: 1px solid #222;
}

/* consultation */

.consultation {
    background-image: url("../img/image\ 12.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-consultation {
    flex-direction: column;
    width: 520px;
}
.tittle-consultation {
    margin-top: 80px;
    margin-bottom: 31px;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #222;
}
.input-consultation {
    margin-bottom: 24px;
    padding: 11px 16px;
}
.btn-consultation {
    margin-bottom: 36px;
    color: #FFF;
    background-color: #222;
}
.btn-whatsapp {
    margin-bottom: 80px;
    color: #222;
    background-color: transparent;
    border: 1px solid #222;
}

/* blog */

.tittle-blog {
    margin-top: 80px;
    margin-bottom: 64px;
    text-align: center;
}
.blog-list {
    justify-content: space-between;
}
.blog-item {
    width: 325px;
    padding-top: 194.5px;
    background-image: url("../img/image\ 10.png");
    background-repeat: no-repeat;
    background-position: top;
}
.blog-item-tittle {
    margin-bottom: 17px;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #222;
}
.blog-item-desc {
    margin-bottom: 16px;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222;
    
}
.blog-btn {
    width: 325px;
    margin-bottom: 80px;
    background-color: transparent;
    border: 1px solid #222;
}

/* footer */
.footer {
    background-color: #222;
}
.footer-container {
    color: #FFF;
}
.footer-content {
    flex-direction: row;
    justify-content: space-between;
    
}
.footer-person {
    flex-direction: column;
}
.footer-work {
    flex-direction: column;
}
.footer-link {
    flex-direction: column;
}
.footer-logo {
    width: 218px;
    height: 98px;
    margin-top: 80px;
    margin-bottom: 56px;
}
.footer-tittle {
    height: 46px;
    margin-top: 0;
    margin-bottom: 4px;
    color: #FFF;
}
.footer-desc {
    height: 23px;
    margin-bottom: 80px;
    color: #FFF;
}
.footer-tittle-list {
    margin-top: 80px;
    margin-bottom: 16px;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #FFF;
}
.footer-item-work:not(:last-child) {
    margin-bottom: 8px;
}
.footer-item-link:not(:last-child) {
    margin-bottom: 8px;
}
.footer-desc {
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.footer-text {
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: #E5E5E5;
    border-top: 1px solid #E5E5E5;
}
